<h1>Edit Product</h1>
<br><br>

<form  method="POST" action="{{productDocument._id}}/?_method=PUT">

    <label>Proudct Title</label>
    <input type="text" name="title" value="{{productDocument.title}}"><br><br>

    <label>Proudct price</label>
    <input type="number" name="price"value="{{productDocument.price}}"><br><br>

    <label>Quantitly on Hand</label>
    <input type="number" name="quantitly"value="{{productDocument.quantitly}}"><br><br>

    <label>Proudct Description</label>
    <textarea name="description" value="{{productDocument.description}}"></textarea><br><br>

    <label>Taxable Item</label>
    <label>Yes</label>
    <input type="radio" name="taxable" value="TRUE">
    <label>No</label>
    <input type="radio" name="taxable" value="FALSE"><br><br>

    <input type="submit" value="Edit Product">

</form>